<footer>
  <div class="container dis_flex">
    <div class="wrapper_footer-items content_size text-center">
      <ul>
        <li><a href="" class="title_list">help</a></li>
        <li><a href="">customer service</a></li>
        <li><a href="">cutitup for business</a></li>
      </ul>
    </div>
    <div class="wrapper_footer-items content_size-top text-center">
      <h5>Newsletter</h5>
      <i class="fas fa-envelope-open"></i>
      <input type="email" class="box_email" placeholder="insert your e-mail">
      <div class="group_checkboxes">
        <mat-radio-button class="example-margin" value="after">M</mat-radio-button>
        <mat-radio-button class="example-margin" value="before">F</mat-radio-button>
      </div>
      <a href="" class="footer_btn">Subscribe</a>
    </div>
    <div class="wrapper_footer-items content_size text-center">
      <ul>
        <li><a href="" class="title_list">company</a></li>
        <li><a href="">about us</a></li>
        <li><a href="">contact us</a></li>
        <li><a href="">careers</a></li>
      </ul>
    </div>
  </div>
  <div class="copy_rights text-center">
    <p>Copyright 2017 | Privacy policy | EULA</p>
  </div>
</footer>

