<div class="wrapper_header-top dis_flex ">
  <div class="social_icon dis_flex">
    <div class="icons dis_flex">
      <i class="fab fa-facebook-f"></i>
    </div>
    <div class="icons dis_flex">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="icons dis_flex">
      <i class="fab fa-pinterest-p"></i>
    </div>
  </div>
  <div class="main_logo text-center"
       [ngSwitch]="!!salonAvatar">
    <img
      *ngSwitchCase="true"
      [src]="salonAvatar.url" alt="{{salonAvatar.altText}}">
    <img
      *ngSwitchCase="false"
      [src]="defaultSalonAvatar" alt="default">
  </div>
  <div class="wrapper_header-items dis_flex ">
    <div class="list_business" style="margin-right: 10px;">
      list business
    </div>
    <div class="wrapper_login ">
      login
    </div>
  </div>
</div>

