<div class="wrapper_slider">
  <a href="#" class="slider_link" routerLink="/book-module" [queryParams]="{salonId: salonId}">Book now</a>
  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="imageArr">
    <ngu-tile *nguCarouselDef="let item;" >
      <div class="tile" >
        <img src="{{item.url}}" alt="{{item.altText}}">
      </div>
    </ngu-tile>
    <button NguCarouselNext class="rightRs">></button>
    <button NguCarouselPrev class="leftRs"><</button>
  </ngu-carousel>
</div>
