<div class="wrapper_slider">
  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="imageArr">
    <ngu-tile *nguCarouselDef="let item;" >
      <div class="tile" >
        <img src="{{item.url}}" alt="{{item.altText}}">
        <a href="" class="slider_link">Book now</a>
      </div>
    </ngu-tile>
    <button NguCarouselNext class="rightRs">></button>
    <button NguCarouselPrev class="leftRs"><</button>
    <!--<ul class="myPoint" NguCarouselPoint>-->
    <!--<li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>-->
    <!--</ul>-->
  </ngu-carousel>
</div>

<!--style="height: 300px; padding-bottom: 25px; overflow: hidden"-->
<!--style="text-align: center; height: 300px"-->
