.wrapper_main-comment {
  width: 40%;
}
.wrapper_description-comments {
  width: 60%;
}
::ng-deep .br {
  margin: 0 0 10px 0!important;
}
.comments_item {
  width: 50%;
}
.wrapper_comments {
  align-items: center;
  margin-bottom: 20px;
}
.comment_title {
  width: 30%;
}
