<div class="media_container">
  <div class="box_shadow-container" *ngIf="arrBestComments.length > 0">
    <div class="wrapper_comments dis_flex" *ngFor="let item of arrBestComments; let i = index">
      <div class="wrapper_main-comment dis_flex">{{item.ratingOverall}} .
        <app-star-rating [starRating]="item.ratingOverall"></app-star-rating>
      </div>
      <div class="wrapper_description-comments ">
        <div class="dis_flex">
          <div class="comments_item dis_flex">
            <div class="comment_title ">
              Ambient
            </div>
            <app-star-rating [starRating]="item.ratingAmbient"></app-star-rating>
          </div>
          <div class="comments_item dis_flex">
            <div class="comment_title">
              Value
            </div>
            <app-star-rating [starRating]="item.ratingValueForMoney"></app-star-rating>
          </div>
        </div>
        <div class="dis_flex">
          <div class="comments_item dis_flex">
            <div class="comment_title">
              Cleanliness
            </div>
            <app-star-rating [starRating]="item.ratingCleanliness"></app-star-rating>
          </div>
          <div class="comments_item dis_flex">
            <div class="comment_title">
              Staff
            </div>
            <app-star-rating [starRating]="item.ratingStaff"></app-star-rating>
          </div>

        </div>
      </div>
      <div class="comments_item dis_flex mg_left" *ngIf="!!item.content">
        <p class="comment_description">{{item.content}}</p>
      </div>

    </div>

  </div>
</div>
