$line_height_row: 19;


.salon_description {
  max-height: 12 * $line_height_row + px;
  overflow-y: auto;
}
.salon_description::-webkit-scrollbar {
  width: 6px;
}
.salon_description::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 10px;
}
.salon_description::-webkit-scrollbar-thumb {
  background: #888;
}
.salon_description::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.salon_description::-webkit-scrollbar {
  width: 6px;
}
.salon_details {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.45);

}
.beauticians_icon {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 25px;
}
.details_wrapper {
  width: 30%;
  height: 200px;
}
.style_lang {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.details_wrapper-top {
  width: 40%;
}
.wrappper_icons {
  display: flex;
  flex-wrap: wrap;
  .personal_icon {
    text-align: center;
    margin: 0 5px;
  }
}
.wrapper_social-icons {
  font-size: 30px;
  height: 100px;
  width: 100%;
  justify-content: center;
  i {
    margin: 0 5px;
  }
}
.beauticians_title {
  width: 100%;
}

.table_calendar {
  display: flex;
  flex-wrap: wrap;
}
.style_calendar {
  display: flex;
  justify-content: space-between;
  color: #B2B2B2;
  width: 75%;
  margin: 0 auto;
}
.style_text {
  text-align: left;
  padding-left: 5px;
  text-transform: capitalize;
  width: 115px;
}
.focus_day {
  color: #000000;
}
.wrapper_meet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.payments {
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
  i {
    font-size: 26px;
    margin-right: 5px;
  }
}
.wrapper_lang {
  justify-content: center;
  padding-top: 25px;
}
.lang {
  font-size: 10px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid;
  margin-right: 10px;
}
.payments_items {
  width: 25%;
  p {
    width: 100%;
    text-align: left;
  }
  flex-wrap: wrap;
}
.contact_info {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}
.wrapper_beauticians-icons {
  justify-content: center;
  width: 100%;
}

.payments_other {
  p {
    font-size: 16px;
    text-transform: capitalize;
  }
}

