  <div class="wrapper_services">
    <div class="box_shadow-container">
    <div class="service_item dis_flex" >
      <div class="title_item test_box test_wrap">
        <h4>Name service</h4>
      </div>
      <div class="description_item" >
        <div class="content_service-item">
          <div class=" dis_flex">
            <h4 class="test_box">Show service</h4>
            <h4 class="test_box">Price</h4>
            <h4 class="test_box">Gender</h4>
            <h4 class="test_box">Description</h4>
            <h4 class="test_box">Duration min</h4>
            <h4 class="test_box"></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="service_item dis_flex" *ngFor="let service of serviceGroups">
      <div class="title_item test_box">
        <h5>{{service.name}}</h5>
      </div>
      <div class="description_item" >
        <div class="content_service-item" *ngFor="let subService of service.services">
         <div class="test dis_flex">
           <div class="test_box">{{subService.service.name}}</div>
           <div class="test_box">{{subService.service.basePrice}} &euro;</div>
           <div class="test_box">{{subService.service.gender}}</div>
           <div class="test_box">{{subService.service.description}}</div>
           <div class="test_box">{{subService.service.minutes}} min</div>
           <div class="test_box">
             <button
               mat-stroked-button
               color="primary"
               routerLink="/book-module"
               [queryParams]="{serviceId: subService.service.id, salonId: salonId}">Book now</button>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  </div>
