.wrapper_services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.box_service {
  width: 70%;
}
.box_book-now {
  width: 30%;
}
.test_box {
  width: 130px;
  border-bottom: 1px solid;
}

