
.box_service {
  width: 70%;
}
.box_book-now {
  width: 30%;
}
.test_box {
  width: 130px;
  padding: 15px 0 5px;
  border-bottom: 1px solid #ebf5fa;
}
.box_shadow-container {
  padding: 10px 20px;
  margin: 20px auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);

}
.service_item {
  justify-content: center;
}
