/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-bar-rating/themes/br-default-theme';
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.dis_flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.border_bottom {
  border-bottom: 1px solid;
}
.salon_name {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 400;
}
.salon_address {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 100px;

}
.container {
  padding: 0 100px;
}
.text-right {
  text-align: right;
}
