<app-header [salonAvatar]="salonAvatar"></app-header>

<div class="wrapper_book-module dis_flex">
  <div class="wrapper_professional-info">
    <app-select-beautician [professionals]="displayedProfessionals"
                           [selectedId]="selectedProfessionalId"
                           (selectProfessional)="selectProfessional($event)"></app-select-beautician>

    <div class="available_hours" *ngIf="selectedProfessionalProfile">
      <div class="wrapper_date_picker">
        <mat-form-field>
          <input matInput
                 (dateChange)="selectedDateInSchedule($event)"
                 [matDatepicker]="picker"
                 [min]="todayDay"
                 [matDatepickerFilter]="filterDaysDate"
                 placeholder="Choose a date" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="hours_title">
        <h3 class="select_hour">Select hour</h3>
      </div>
      <div class="wrapper_space_scroll" *ngIf="selectedDateFromUser &&
       !!selectedProfessionalProfile && selectedService">
        <div class="wrapper_hours_slots">
          <ul class="">
            <li class="time_slot_wrapper"
                *ngFor="let slotTime of professionalHours"
                [class.selected]="slotTime === selectedSlotTime"
                [class.disabled]="slotTime.disableStatus"
                [class.busy]="slotTime.availability === 'busy'"
                (click)="selectTimeSlot($event, slotTime)">
              <div class="dis_flex time_slot_container ">
                <div class="time_slot">{{slotTime.time}}</div>
                <div class="price">
                  <div *ngIf="selectedService">
                    {{selectedService.service.basePrice}}&euro;
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper_services-selected">
    <div class="wrapper_select_item">
      <h3>Selected service</h3>
      <div *ngIf="selectedService" class="dis_flex service_wrapper">
        <div class="service_title ">
          {{selectedService.service.name}} <br>
          <p class="service_with" *ngIf="!!selectedProfessionalProfile">
            with {{selectedProfessionalProfile.professional.user.person.firstName}}
          </p>
        </div>
        <div class="service_price dis_flex">
          {{selectedService.service.basePrice}} &euro;
        </div>
        <div class="service_duration dis_flex">
          {{selectedService.service.minutes}} min
        </div>
        <div class="service_booking dis_flex">
          <button mat-icon-button (click)="clearSelected()">
            <i class="material-icons">
              clear
            </i>
          </button>
        </div>
      </div>
    </div>
    <div *ngFor="let group of displayedServiceGroups">
      <div class="services_content" *ngIf="group.services.length > 0">
        <h3>{{group.name}}</h3>
        <div class="dis_flex service_wrapper" *ngFor="let service of group.services">
          <div class="service_title dis_flex">
            {{service.service.name}}
          </div>
          <div class="service_price dis_flex">
            {{service.service.basePrice}} &euro;
          </div>
          <div class="service_duration dis_flex">
            {{service.service.minutes}} min
          </div>
          <div class="service_booking dis_flex">
            <button mat-icon-button (click)="selectService(service, group)" [disabled]="selectedService">
              <i class="material-icons">
                add
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <label>
      <input type="text" [value]="searchStr" [formControl]="searchControl" placeholder="Search treatment"
             class="search_treatment">
    </label>
  </div>
  <div class="wrapper_total-bookInfo">
    <h2 class="text-center">{{salonName}}</h2>
    <div class="wrapper_book-time"></div>
    <div class="professional_info">
      <div class="avatar" *ngIf="selectedProfessionalId">
        <div class="test">{{selectedProfessionalId}}</div>
      </div>
    </div>
    <div class="wrapper_total">
      <div *ngIf="selectedProfessionalProfile">
        <div class="wrapper_date_select dis_flex" *ngIf="selectedDateFromUser && selectedSlotTime">
          <div class="dis_flex header_boxes">
            <div class="date_weekday">
              {{selectedDateFromUser.weekDay}}
            </div>
            <div class="date_date">
              {{selectedDateFromUser.date}}
            </div>
            <div class="date_month">
              {{selectedDateFromUser.month}}
            </div>
          </div>
          <div class="date_time">
            <p>{{selectedSlotTime.time}}</p>
          </div>
        </div>
        <div class="wrapper_total_logo">
          <div class="professional_logo dis_flex" [ngSwitch]="!!selectedProfessionalProfile.professional.avatar.url">
            <img *ngSwitchCase="true"
                 [src]="selectedProfessionalProfile.professional.avatar.url">
            <img *ngSwitchCase="false"
                 [src]="defaultProfessionalPhoto">
          </div>
        </div>
        <div class="job_content dis_flex" *ngIf="selectedService">
          <div class="dis_flex info">
            <div class="job_title">
              <h4>{{selectedService.service.name}}</h4>
            </div>
            <div class="job_price">{{selectedService.service.basePrice}}&euro;</div>
            <div class="wrapper_book_now dis_flex">
              <div class="job_title">
                <h4>Total</h4>
              </div>
              <div class="job_price">{{selectedService.service.basePrice}}&euro;</div>
              <div class="book_now-btn text-center">
                <button mat-raised-button color="primary"
                        [disabled]="!this.selectedSlotTime"
                        (click)="bookNow()">Book now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button mat-raised-button color="primary" style="margin: 30px 10px" routerLink="../../../salon/{{salonId}}"
>salon-mock
</button>


<!--<app-date-picker></app-date-picker>-->

